.introcontent{
 color: #7D7E9E;
  padding: 6rem 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  h2{
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  h3{
      line-height: 1.5;
      font-weight: normal;
  }
}