.card{
    border-radius: 5px;
    padding: 0.6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    h5{
        margin: 0.6rem 0;
        font-weight: normal;
    }

    img{
      width: 100%;
    }
    p{
        margin:1.8rem 0;
        font-weight: normal;
    }

}